# DSSS: Assessing London Housing Prices

I aim to answer the following research questions:

What are the main factors that influence property values in London according to a random forest model based on London census data?
How do property values vary across London opportunity areas and adjacent areas using a regression discontinuity design?
My main data source will be the 2021 census, which provides comprehensive data on London’s population characteristics such as age, sex, ethnicity, religion, education, occupation, income, housing tenure, and so on.

My outcome variable will be median property value per LSOA, from HMRC price paid data. The random forest technique will be applied to build a model for property value based on the independent variables. The regression discontinuity design will be applied to compare property values between opportunity areas (treatment group) and adjacent areas (control group) using distance from opportunity area boundary as the assignment variable. The assumption is that properties close to the boundary are similar in other aspects except for their location within or outside an opportunity area. The causal effect of being in an opportunity area on property value will be estimated by fitting local linear regressions on both sides of the boundary.

Introduction

Literature review

Research question

Presentation of data

## Data Importing

In [ ]:
pip install UKCensusAPI
pip install skimpy

In [3]:
import ukcensusapi.Nomisweb as census_api
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

from skimpy import clean_columns

import sklearn
from sklearn.model_selection import train_test_split, GridSearchCV, validation_curve
from sklearn.metrics import mean_squared_error, r2_score

# preprocessors
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# pipeline
from sklearn.pipeline import Pipeline

# linear regression
from sklearn.linear_model import LinearRegression

# CART
from sklearn.tree import DecisionTreeRegressor

# random forest
from sklearn.ensemble import RandomForestRegressor

# xgboost
import xgboost
from xgboost import XGBRegressor

In [4]:
hh = pd.read_excel("data/tenure - households.xlsx", sheet_name = 3)

In [8]:
hh.head()

,LSOA code,local authority code,local authority name,All Households,Owned outright,Owned with a mortgage or loan,Shared ownership,Rented from Local Authority,Other social rented,Private landlord or letting agency,Other private rented,Rent free
0,E01000001,E09000001,City of London,843,338,144,3,17,4,283,53,1
1,E01000002,E09000001,City of London,825,283,149,2,23,6,324,38,0
2,E01000003,E09000001,City of London,1015,232,145,0,249,52,293,42,2
3,E01000005,E09000001,City of London,482,19,22,1,148,186,91,15,0
4,E01032739,E09000001,City of London,882,118,98,3,3,8,555,97,0

In [7]:
prop = pd.read_excel("data/HPSSA Dataset 46 - Median price paid for residential properties by LSOA.xls", sheet_name = "Data", header = 5)
prop.head()

,Local authority code,Local authority name,LSOA code,LSOA name,Year ending Dec 1995,Year ending Mar 1996,Year ending Jun 1996,Year ending Sep 1996,Year ending Dec 1996,Year ending Mar 1997,...,Year ending Sep 2020,Year ending Dec 2020,Year ending Mar 2021,Year ending Jun 2021,Year ending Sep 2021,Year ending Dec 2021,Year ending Mar 2022,Year ending Jun 2022,Year ending Sep 2022,Unnamed: 112
0,E06000001,Hartlepool,E01011949,Hartlepool 009A,34750,34500,30500,30000,29950,29000,...,88000,88000,81500,80500,85500,100750,94000,119000,100000,NaN
1,E06000001,Hartlepool,E01011950,Hartlepool 008A,25000,25000,25300,25625,25000,24800,...,28500,30000,33000,47000,50079,50159,50159,47879,46439.5,NaN
2,E06000001,Hartlepool,E01011951,Hartlepool 007A,27000,27000,27250,28950,28500,28950,...,30000,50000,51500,53000,58573.5,60000,61499.5,61499.5,60000,NaN
3,E06000001,Hartlepool,E01011952,Hartlepool 002A,44500,44500,30000,26675,26000,25500,...,85000,85000,:,83500,83000,80000,76000,75000,75000,NaN
4,E06000001,Hartlepool,E01011953,Hartlepool 002B,22000,27000,27000,20600,20000,19500,...,:,:,:,:,:,90000,:,95000,92500,NaN

In [16]:
prop[['LSOA code','Year ending Sep 2022']].dtypes

LSOA code               object
Year ending Sep 2022    object
dtype: object

In [63]:
hh_prop = pd.merge(hh, prop[['LSOA code','Year ending Sep 2022']], left_on = "LSOA code", right_on ="LSOA code", how = "left")
hh_prop = clean_columns(hh_prop)
hh_prop.head()

13 column names have been cleaned

,lsoa_code,local_authority_code,local_authority_name,all_households,owned_outright,owned_with_a_mortgage_or_loan,shared_ownership,rented_from_local_authority,other_social_rented,private_landlord_or_letting_agency,other_private_rented,rent_free,year_ending_sep_2022
0,E01000001,E09000001,City of London,843,338,144,3,17,4,283,53,1,827500
1,E01000002,E09000001,City of London,825,283,149,2,23,6,324,38,0,815000
2,E01000003,E09000001,City of London,1015,232,145,0,249,52,293,42,2,540000
3,E01000005,E09000001,City of London,482,19,22,1,148,186,91,15,0,:
4,E01032739,E09000001,City of London,882,118,98,3,3,8,555,97,0,645000

In [64]:
hh_prop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4994 entries, 0 to 4993
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   lsoa_code                           4994 non-null   object
 1   local_authority_code                4994 non-null   object
 2   local_authority_name                4994 non-null   object
 3   all_households                      4994 non-null   int64
 4   owned_outright                      4994 non-null   int64
 5   owned_with_a_mortgage_or_loan       4994 non-null   int64
 6   shared_ownership                    4994 non-null   int64
 7   rented_from_local_authority         4994 non-null   int64
 8   other_social_rented                 4994 non-null   int64
 9   private_landlord_or_letting_agency  4994 non-null   int64
 10  other_private_rented                4994 non-null   int64
 11  rent_free                           4994 non-null   int64
 12  year_ending_sep_2022                4659 non-null   object
dtypes: int64(9), object(4)
memory usage: 546.2+ KB

In [65]:
hh_prop['year_ending_sep_2022'] = pd.to_numeric(hh_prop['year_ending_sep_2022'],errors = 'coerce')
hh_prop.dropna(inplace=True)
hh_prop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4248 entries, 0 to 4985
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   lsoa_code                           4248 non-null   object
 1   local_authority_code                4248 non-null   object
 2   local_authority_name                4248 non-null   object
 3   all_households                      4248 non-null   int64
 4   owned_outright                      4248 non-null   int64
 5   owned_with_a_mortgage_or_loan       4248 non-null   int64
 6   shared_ownership                    4248 non-null   int64
 7   rented_from_local_authority         4248 non-null   int64
 8   other_social_rented                 4248 non-null   int64
 9   private_landlord_or_letting_agency  4248 non-null   int64
 10  other_private_rented                4248 non-null   int64
 11  rent_free                           4248 non-null   int64
 12  year_ending_sep_2022                4248 non-null   float64
dtypes: float64(1), int64(9), object(3)
memory usage: 464.6+ KB

In [66]:
hh_prop.columns

Index(['lsoa_code', 'local_authority_code', 'local_authority_name',
       'all_households', 'owned_outright', 'owned_with_a_mortgage_or_loan',
       'shared_ownership', 'rented_from_local_authority',
       'other_social_rented', 'private_landlord_or_letting_agency',
       'other_private_rented', 'rent_free', 'year_ending_sep_2022'],
      dtype='object')

In [67]:
hh_prop = hh_prop.drop(['lsoa_code', 'local_authority_code'], axis = 1)

In [68]:
random_state_split = 100
train_x, test_x, train_y, test_y = train_test_split(hh_prop.drop(['year_ending_sep_2022'], axis = 1), hh_prop.year_ending_sep_2022, random_state=random_state_split)

In [70]:
hh_prop.columns

Index(['local_authority_name', 'all_households', 'owned_outright',
       'owned_with_a_mortgage_or_loan', 'shared_ownership',
       'rented_from_local_authority', 'other_social_rented',
       'private_landlord_or_letting_agency', 'other_private_rented',
       'rent_free', 'year_ending_sep_2022'],
      dtype='object')

In [69]:
# The missing values of a numeric feature will be replaced by the 'mean' value of the feature.
# The missing values of a categorical feature will be replaced by the a 'constant' value. If 'constant' value is not specified, it is default at '0' for numerical data or 'np.nan' for categorical data.

numeric_transformer = Pipeline(steps=[
       ('imputer', SimpleImputer(strategy='mean'))
      ,('scaler', StandardScaler())
])
categorical_transformer = Pipeline(steps=[
       ('imputer', SimpleImputer(strategy='constant'))
      ,('encoder', OneHotEncoder(drop='first'))
])

In [71]:
numeric_features = ['all_households', 'owned_outright',
       'owned_with_a_mortgage_or_loan', 'shared_ownership',
       'rented_from_local_authority', 'other_social_rented',
       'private_landlord_or_letting_agency', 'other_private_rented',
       'rent_free']
categorical_features = ['local_authority_name']
preprocessor = ColumnTransformer(
   transformers=[
    ('numeric', numeric_transformer, numeric_features)
   ,('categorical', categorical_transformer, categorical_features)
])

In [72]:
pipeline = Pipeline(steps = [
   ('preprocessor', preprocessor),
   ('regressor',DecisionTreeRegressor())
])

In [73]:
cart_model = pipeline.fit(train_x, train_y)
# this will visualise the pipeline
print(cart_model)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('numeric',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['all_households',
                                                   'owned_outright',
                                                   'owned_with_a_mortgage_or_loan',
                                                   'shared_ownership',
                                                   'rented_from_local_authority',
                                                   'other_social_rented',
                                                   'private_landlord_or_letting_agency',
                                                   'other_private_rented',
                                                   'rent_free']),
                                                 ('categorical',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='constant')),
                                                                  ('encoder',
                                                                   OneHotEncoder(drop='first'))]),
                                                  ['local_authority_name'])])),
                ('regressor', DecisionTreeRegressor())])

In [74]:
print("RMSE on the training data:")
print(mean_squared_error(train_y, cart_model.predict(train_x), squared=False))
print("RMSE on the testing data:")
print(mean_squared_error(test_y, cart_model.predict(test_x), squared=False))

RMSE on the training data:
0.0
RMSE on the testing data:
375204.5288037771

In [75]:
print("R2 on the training data:")
print(r2_score(train_y, cart_model.predict(train_x)))
print("R2 on the testing data:")
print(r2_score(test_y, cart_model.predict(test_x)))

R2 on the training data:
1.0
R2 on the testing data:
0.21370862745903274

In [76]:
# we fix the random_state in DecisionTreeRegressor() so that the result of GridSearchCV is the same in different runs
cart_pipeline = Pipeline(steps = [
  ('preprocessor', preprocessor),
  ('regressor', DecisionTreeRegressor(random_state=123))
])

cart_pipeline.fit(train_x, train_y)
# in order to change the model, needs to be changed in cart_pipeline and grid_params
# grid_params is the range of each hyperparameter
grid_params = {
  'regressor__max_depth': [10,20,30,40,50], 
  'regressor__min_samples_split': [2,4,6,8,10]
}
search = GridSearchCV(cart_pipeline, grid_params)
search.fit(train_x, train_y)
print("Best R2 Score: ", search.best_score_)
print("Best Params: ", search.best_params_)

Best R2 Score:  0.1981665656064094
Best Params:  {'regressor__max_depth': 10, 'regressor__min_samples_split': 10}

In [77]:
regressors = {
    'Linear': LinearRegression(),
    'CART': DecisionTreeRegressor(),
    'RF': RandomForestRegressor(),
    'XGB': XGBRegressor()
}

# a dict to store the R2 of training and testing data
dict_results = dict()

for name, regressor in regressors.items():
    pipeline = Pipeline(steps = [
               ('preprocessor', preprocessor)
              ,('regressor', regressor)
           ])
    model = pipeline.fit(train_x, train_y)
    predictions = model.predict(test_x)
    dict_results[name] = [model.score(train_x, train_y), model.score(test_x, test_y), model.score(train_x, train_y) - model.score(test_x, test_y)]

# transform dict_models to dataframe
df_models = pd.DataFrame.from_dict(dict_results, orient='index', columns=['R2_train_data', 'R2_test_data', 'R2_diff'])
df_models

        R2_train_data  R2_test_data   R2_diff
Linear       0.430968      0.480808 -0.049841
CART         1.000000      0.283514  0.716486
RF           0.923672      0.584722  0.338950
XGB          0.972459      0.549990  0.422469

Methodology

Results

Discussion

Conclusion